@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  /* Primary Colors */
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue-slider: hsl(224, 65%, 95%);
  --light-grayish-blue-toggle: hsl(223, 50%, 87%);
  --grayish-blue-text: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: inherit;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--white);
  background-image: url(../public/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  background-position: top;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-image: url(../public/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
}

header p {
  margin-top: 2rem;
  color: var(--grayish-blue-text);
}

.toggle {
  display: flex;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grayish-blue-toggle);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--strong-cyan);
}

input:focus + .slider {
  box-shadow: 0 0 1px --strong-cyan;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Style optionnel pour arrondir les coins quand c'est enclenché */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CARD */

.price-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 60rem;
  padding: 5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.price-card__inner {
  width: 100%;
  border-bottom: 1px solid var(--light-grayish-blue-toggle);
}

.price-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.price-card__pricing {
  display: flex;
  align-items: center;
}

.price-card__pageviews {
  color: var(--grayish-blue-text);
  letter-spacing: 0.2rem;
}

.price-card__pricing-amount {
  font-size: 4rem;
  font-weight: 800;
}

.price-card__pricing-unit {
  color: var(--grayish-blue-text);
  margin-left: 1rem;
}

/* BILLING */

.billing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.billing-toggle__option {
  color: var(--grayish-blue-text);
}

.monthly {
  margin-right: 2rem;
}

.yearly {
  margin-left: 2rem;
}

.billing-toggle__discount-tag {
  margin-left: 2rem;
  background-color: var(--light-grayish-red);
  color: var(--light-red);
  padding: 0.75rem;
  border-radius: 5rem;
}
/* FEATURED */

.price-card__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.features-list__item {
  margin-bottom: 1rem;
  color: var(--grayish-blue-text);
}

.button--primary {
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  border: none;
  color: var(--white);
  background-color: var(--dark-desaturated-blue);
}

.button--primary:hover {
  cursor: pointer;
}

/*SLIDER*/

.slider-container {
  width: 100%;
  padding: 20px;
}

.slider-pricing {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.25rem;
  border-radius: 10rem;
  background: var(--light-grayish-blue-slider);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-pricing:hover {
  opacity: 1;
}

.slider-pricing::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--strong-cyan);
  background-image: url(../public/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 var(--strong-cyan);
}

.slider-pricing::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--strong-cyan);
  background-image: url(../public/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 var(--strong-cyan);
}

/***************/
/*RESPONIVE*/
/***************/
@media (max-width: 600px) {
  .price-card {
    width: 50rem;
    padding: 2.5rem;
  }
}

@media (max-width: 500px) {
  .price-card {
    width: 40rem;
    padding: 2rem;
  }
  .price-card__info {
    flex-direction: column;
    margin-bottom: 0;
  }
  .price-card__pageviews {
    margin-bottom: 2.5rem;
  }

  .billing-toggle {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }

  .monthly {
    margin-right: 1rem;
  }

  .yearly {
    margin-left: 1rem;
  }
}

@media (max-width: 400px) {
  .app__title {
    font-size: 2.4rem;
  }
  .price-card {
    width: 35rem;
    padding: 2rem;
  }

  .app__subtitle {
    font-size: 1.4rem;
  }

  .price-card__pageviews {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .billing-toggle {
    font-size: 1.2rem;
  }
  .features-list__item {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .app__title {
    font-size: 2.2rem;
  }
  .price-card {
    width: 32.5rem;
    padding: 2rem;
  }

  .app__subtitle {
    font-size: 1.2rem;
  }

  .price-card__pageviews {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .billing-toggle {
    font-size: 1rem;
  }
  .features-list__item {
    font-size: 1rem;
  }
}
